<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Ryhmä Huttusen huikea foorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Ryhmä Huttusen foorumi</h1>
        
        
        <a href="/kirjautuminen">Kirjaudu sisään</a> tai luo itsellesi käyttäjätunnus <a href="/rekisteroidy">tästä</a>
        
        <ul>
            <li th:each="alue : ${alueet}">
                <span th:text="${alue.otsikko}">Alueet</span>
            </li>
        </ul>


        <p>Tähän ne aluekentät</p>
        <p>Alueet on tosiaan hashmapissa avaimella "alueet"</p>
        <p>Tällä sivulla, kun alueen nimeä painetaan, on a href="/jotain". HUOM EI a href="/s/jotain", se on kirjautunut sivulle</p>
        <p>Olisko tyyliin a href="${alue.nimi}" sit mainissa olis olis get("/:nimi", (req, res) -> { String nimi = req.params(); ja lopuks return new ModelAndVieW(map, nimi);</p>
    </body>
</html>